{
  "private": true,
  "description": "This file keeps track of which plugins should be installed.",
  "dependencies": {
{% for plugin in homebridge__dependencies %}
    "{{ plugin.name }}": "^{{ plugin.version }}",
{% endfor %}
  }
}
